# ============================================================
# ansible.cfg — Configuration globale Ansible
# Fichier lu automatiquement depuis le répertoire courant
# ============================================================

[defaults]
# Inventaire par défaut
inventory = inventaire/hosts.yml

# Désactive la vérification des clés SSH (pratique en dev/formation)
host_key_checking = False

# Affichage enrichi des résultats
stdout_callback = yaml

# Nombre de connexions parallèles
forks = 5

# Utilisateur SSH par défaut
remote_user = ubuntu

[ssh_connection]
# Accélère les connexions SSH répétées
pipelining = True
