{
    "Servers": {
        "1": {
            "Name": "Odoo PostgreSQL",
            "Group": "Servers",
            "Host": "{{ pgadmin_db_host }}",
            "Port": 5432,
            "MaintenanceDB": "postgres",
            "Username": "{{ pgadmin_db_user }}",
            "SSLMode": "prefer"
        }
    }
}
